{% load static %}

{% load sidebar_filter %}

<div class="instagram">
    <div class="container-xl">
        <!-- button -->
        <a href="{{ me.instagram }}" class="btn btn-default btn-instagram">@{{ me.instagram_id }} در اینستاگرام</a>
        <!-- images -->
        <div class="instagram-feed d-flex flex-wrap">
            {% for post in 'instagram_posts'|sidebar %}
            <div class="insta-item col-sm-2 col-6 col-md-2">
                <a>
                    <img src="{{ post.image.url }}" alt="{{ post.name }}"/>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>