{% load static %}

<div class="widget rounded">
    <div class="widget-header text-center">
        <h3 class="widget-title">خبرنامه</h3>
        <img src="{% static 'images/wave.svg' %}" class="wave" alt="wave"/>
    </div>
    <div class="widget-content">
        <span class="newsletter-headline text-center mb-3">به ما بپیوندید!</span>
        <form action="{% url 'core:newsletter-create' %}" method="dialog" id="newsletter-form" novalidate>
            {% csrf_token %}
            <div class="mb-2">
                {{ news_form.news_email }}
            </div>
        </form>
        <button class="btn btn-default btn-full" id="newsletter-button">ثبت نام</button>
        <span class="newsletter-privacy text-center mt-3">
                                            با ثبت نام، با <a href="#">سیاست حفظ حریم خصوصی ما</a>
                                            موافقت می کنید
            </span>
    </div>
</div>
<br>