<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        {% include 'include/header.html' %}
        <script src="{% static 'js/sweetalert2.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
        {% block extra_header %}{% endblock %}
    </head>
    <body>
        {% for message in messages %}
        <script>
        Swal.fire({
          title: '{{ message }}',
          icon: '{{ message.tags }}',
          confirmButtonText: 'باشه'
        })
        </script>
        {% endfor %}
        <!-- preloader -->
        <div id="preloader">
            <div class="book">
                <div class="inner">
                    <div class="left"></div>
                    <div class="middle"></div>
                    <div class="right"></div>
                </div>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <!-- site wrapper -->
        <div class="site-wrapper">
            <div class="main-overlay"></div>

            <!-- header -->
            {% block content %}{% endblock %}

            <!-- instagram feed -->
            {% include 'include/instagram_feed.html' %}

            <!-- footer -->
            {% include 'include/footer.html' %}

        </div>
        <!-- end site wrapper -->

        <!-- search popup area -->
        {% include 'include/search.html' %}

        <!-- canvas menu -->
        {% include 'include/canvas_menu.html' %}

        <!-- JAVA SCRIPTS -->
        {% include 'include/js.html' %}
        <script src="{% static 'core/newsletter.js' %}"></script>

    </body>
</html>
